<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weixiao.dao.PcDao">

<!-- 接受用户输入-->
    <select id="selectPcByName" resultType="com.weixiao.Pc"
            parameterType="com.weixiao.Pc">
        select * from pc where 1=1
        <if test="name!=null and name!=''">
--             “%”代表0个或多个字符
            and name like concat('%',#{name},'%')
        </if>
    </select>


</mapper>